<h2>{{ title }}</h2>

<h4 (click)="goback()">
    << Go Back </h4>

        <p class="text-count">
            Rows returned {{ list.length }}
        </p>

        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date Created</th>
            </tr>

            <tr *ngFor="let item of list; index as i ;">
                <td>{{ i }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.created_at|date }}</td>
            </tr>
        </table>